@model WebApplication3.Models.Domain.Genre
@{
    ViewData["Title"] = "Add";
}


<div  class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Add Genre</h1>
            <form asp-action="Add" method="post">
                <div class="form-group">
                    <lable asp-for="Name">Genre Name</lable>
                    <input type="text" class="form-controll" asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        @TempData["msg"]
                    </div>
                }
                <button type="submit" class="btn btn-dark"><i class="bi bi-save"></i></button>
                <a href="/Genre/GetAll" class="btn btn-primary"><i class="bi bi-list"></i></a>
            </form>
        </div>
    </div>
</div>
